################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DiffingApiTask/FileContentIndex/249a4157-73c5-43e6-8222-f65f7c1d4d3e.vsidx
/.vs/DiffingApiTask/v17/.suo
