################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/obj/*
*.vsidx
/.vs/DiffingApiTask/v17/.suo
